<div class="text-center">
  <h2>Childs name:{{user.name}}</h2>
  <p>Diet:{{child.diet_restrictions}}</p>
  <p>Medication:{{medication}}</p>
  <p>Other:{{other}}</p>

  <p>
    <button class="btn btn-primary">create a comment</button>
  </p>
</div> 
