<div class="text-center">
  <h2>Childs name:{{child.child_name}}</h2>
  <p>Diet:{{child.diet_restrictions}}</p>
  <p>Medication:{{child.medications}}</p>
  <p>Other:{{child.other}}</p>



<form class="new-comment">
  <label for="post-comment">Other:</label>
  <input class="form-input" type="text" id="post-comment" name="post-comment" />
  <button class="submitComment" type="submit" class="btn btn-primary">Create</button>
      </form>
</div> 

<script src="/js/comments.js"></script>