<!-- Loop over each object in the projects array -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Babysitter Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navigation bar -->


<!-- Jumbotron header -->
<div class="jumbotron text-center">
  <h1>Welcome to our Babysitter Website</h1>
  <p>We provide reliable and experienced babysitters for your child's care</p> 
  <div class="mt-4">
    <a href="#" class="btn btn-primary btn-lg mr-3">Sign Up</a>
    <a href="#" class="btn btn-outline-primary btn-lg">Login</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 bg-light" style="height:500px;">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et mi at ligula luctus consequat. Proin laoreet fermentum dui, eget lobortis elit tincidunt ac. Morbi viverra arcu id nibh congue, ac lobortis ex cursus.</p>
    </div>
    <div class="col-md-6 text-white" style="background-image:url(''); background-size:cover; height:500px;">
      <div class="container">
        <h2>Welcome to our Babysitter Website</h2>
      </div>
    </div>
  </div>
</div>
 
  
    

<!-- Services section -->
<div class="container-fluid bg-grey">
  <h2 class="text-center">Services</h2>
  <div class="row">
    <div class="col-sm-4">

      <img src="https://media.istockphoto.com/id/1194465593/photo/young-japanese-woman-looking-confident.jpg?s=612x612&w=0&k=20&c=GELaNFFseiu-w9nvdniVnhveaOiTx1CfA3ONddCVwqU=" class="img-responsive rounded-circle" style="width:20%" alt="Image">
      <h4>Babysitting</h4>
      <p>We offer experienced and reliable babysitting services for infants and young children</p>
    </div>
    <div class="col-sm-4"> 
      <img src="https://t4.ftcdn.net/jpg/04/25/65/97/360_F_425659755_5BaLdNbbCtQbbiz1JNFBikshfiCWI5NE.jpg" class="img-responsive rounded-circle" style="width:30%" alt="Image" class="rounded-circle">
      <h4>Childcare</h4>
      <p>We provide quality childcare services, including after-school care and homework help</p>
    </div>
    <div class="col-sm-4 rounded-circle">
      <img src="https://thumbs.dreamstime.com/b/business-woman-headshot-portrait-pretty-female-brunette-grey-sweater-white-background-210447251.jpg" class="img-responsive rounded-circle" style="width:35%" alt="Image">
      <h4>Special Needs Care</h4>
      <p>We have experienced and trained babysitters for children with special needs</p>

    </div>
  </div>
</div>

<!-- About us section -->
<div class="container-fluid">
  <h2 class="text-center">About Us</h2>
  <div class="row">
    <div class="col-sm-12">
      <h4><strong>Our Mission

